<div class="uk-container-center uk-container wrapper white">
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "uk-form"}) do |f| %>
	<fieldset>
		<legend>注 册</legend>
		<div><%= devise_error_messages! %></div>
		<%= f.input :email, :required => true, :autofocus => true, label_html: { class: 'uk-form-row'}, input_html: { size: 30 }, label: '邮箱<br>'   %>
		<%= f.input :password, :required => true, label_html: { class: 'uk-form-row'}, input_html: { size: 30 }, label: '密码<br>'   %>
		<%= f.input :password_confirmation, :required => true, label_html: { class: 'uk-form-row'}, input_html: { size: 30 }, label: '确认密码<br>' %>
		<div class="uk-form-row" style="margin-top:10px;">
		<%= f.button :submit, "注册", :class => 'uk-button uk-button-success' %>
		<%= render "devise/shared/links" %>
		</div>
	</fieldset>
	<% end %>
</div>