<table class="uk-table">
  <tr>
    <th>照片</th>
    <th>用途</th>
    <th></th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td><img class="uk-thumbnail uk-thumbnail-mini" src="<%= album.imageUrl %>" alt=""></td>
    <td>
      <a href="<%= edit_album_path album %>?userID=<%= params[:userID] %>" data-confirm="设置为形象照片？">
        <button id="setButton" class="uk-button uk-button-success uk-button-small" type="button" <%= "disabled" if album.useFlag == 2%>>
          <%= album.useFlagType %>
        </button>
      </a>
    </td>
    <td>
      <%= link_to '删除', album, method: :delete, data: { confirm: '你确定要删除吗？' }, class:"uk-button uk-button-danger uk-button-small" %>
    </td>

  </tr>
  <% end %>
</table>


<script type="text/javascript">
$('#setButton').click(function() {
    // alert("sdf");
  });
</script>
