<li id="weibo_<%= @weibo.id %>">
  <header class="uk-comment-header account-summary ">
    <a class="my-comment-avatar"><img class="myavatar" src="<%= @weibo.user.avatarSrc %>" width="54px" alt=""></a>
    <p class="uk-clearfix">
      <strong><%= @weibo.user.nickName %></strong> [中天音乐吧] <br>
      <small class="uk-comment-meta">18 165CM 武昌</small>
      <small class="uk-comment-meta uk-align-right"><%= time_ago_in_words(@weibo.created_at) %></small>
    </p>
    <p class="uk-clearfix">
      <a class="uk-thumbnail uk-align-left" href="#modal-<%= @weibo.id %>" data-uk-modal="{target:'#modal-<%= @weibo.id %>'}">
        <img src="<%= @weibo.user.avatarSrc %>" width="100px">
      </a>
      &nbsp;&nbsp;<%= link_to @weibo.content, weibo %>
    </p>
    <div id="modal-<%= @weibo.id %>" class="uk-modal" style="display: none;">
      <div class="uk-modal-dialog uk-modal-dialog-frameless" style="margin-left: -0px;margin-top: 100px">
        <a href="" class="uk-modal-close uk-close"></a>
        <img src="<%= @weibo.user.avatarSrc %> " alt="">
      </div>
    </div>
    <div>
      <%= link_to '', favorite_weibo_path(@weibo), :remote => true, :class => 'uk-icon-button uk-icon-heart favorite uk-icon-spin favorite_#{@weibo.id}', :confirm => "赞一下吗?"  %>
      <%= @weibo.favorite.present? ? @weibo.favorite : "0" %>
      <%= link_to '', weibo_path(@weibo), :class => 'uk-icon-button uk-icon-comment comment' %> <%= @weibo.comments.count %>
    </div >
  </header>
</li>