<div class="wrap">
	<div class="container">
		<%= simple_form_for @passage do |f| %>
		<%= f.input :title, label: '标题'%>
		<%= f.input :newsrecord, label: '文章记录', :input_html => { :rows => 4 }  %>
		<%= f.input :content, label: '内容' %>
		<%= f.input :images, label: '图片地址（使用","隔开）' %>
		<%= f.input :postUrl, label: '文章源地址' %>
		<%= f.input :psgType, collection: [ "1 官方新闻", "2 学霸雪渣", "3 成长手册", "4 小道消息"]%>
		<%= f.button :submit %>
		<% end %>
	</div>
</div>